<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>D&D Infinity</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <!-- https://material.io/tools/icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://picturepan2.github.io/spectre/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spectre-icons.min.css') }}">
    <!-- https://thenounproject.com/term/dragon/1207597/# -->
    <link rel="icon" href="{{ url_for('static', filename='images/noun_dragon_1207597.png') }}">
</head>
<body>
    <div id="header">
        <h1>D&D Infinity ::: {{ title }}</h1>
        <header class="navbar">
            <section class="navbar-section">
                <div class="dropdown">
                    <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                        Pre-gen Characters <i class="icon icon-caret"></i>
                    </a>
                    <!-- menu component -->
                    <ul class="menu">
                        Coming soon!
                    </ul>
                </div>
            </section>
            <section class="navbar-center">
                <img
                src="{{ url_for('static', filename='images/noun_dragon_1207597.svg') }}"
                alt="dragon by Andy Mc from the Noun Project"
                height="50px"
                width="50px" />
            </section>
            <section class="navbar-section"></section>
        </header>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <p>Created for the love of D&D and Domain-Driven Design.</p>
    </div>
</body>
</html>