{% extends "base.html" %}

{% block content %}
<div id="banner">
    <h2>{{ pc.name }}</h2>
    <p><strong>Class & Level</strong>: {{ pc.class_name }} {{ pc.level }}</p>
    <p><strong>Background</strong>: {{ pc.background_name }}</p>
    <p><strong>Race</strong>: {{ pc.race_name }}</p>
</div>
<div class="column">
    <div class="sheet-box">
        <h3>Ability Scores</h3>
        <div class="stat-box">
            <h4>Proficiency Bonus</h4>
            <p>{{ pc.proficiency_bonus }}</p>
        </div>
        <div class="clear"></div>
        {% for ability in pc.ability_scores.keys() %}
        <div class="ability-score">
            <p>{{ ability }}</p>
            <h3>{{ pc.ability_scores[ability]['score'] }}</h3>
            <p>{{ pmod(pc.ability_scores[ability]['modifier']) }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="column">
    <div class="sheet-box">
        <h3>Saving Throws</h3>
        {% for save in pc.saving_throws %}
        <p>{{ 'v' if pc.saving_throws[save]['is_proficient'] else 'o' }} <strong>{{ save }}</strong> : {{ pmod(pc.saving_throws[save]['modifier']) }}</p>
        {% endfor %}
    </div>
    <div class="sheet-box">
        <h3>Skills</h3>
        {% for skill in pc.skill_proficiencies %}
        <p>{{ 'v' if pc.skill_proficiencies[skill]['is_proficient'] else 'o' }} <strong>{{ skill }}</strong> : {{ pmod(pc.skill_proficiencies[skill]['modifier']) }} [{{ pc.skill_proficiencies[skill]['ability'] }}]</p>
        {% endfor %}
    </div>
</div>
<div class="column">
    <div class="sheet-box">
        <h3>Basic Combat Stuff</h3>
        <div class="stat-box">
            <h4>Armor Class</h4>
            <p>{{ pc.worn_items.armor_class }} ({{ pc.worn_items.armor.name if pc.worn_items.armor else 'dodgy stuff' }})</p>
        </div>
        <div class="stat-box">
            <h4>Initiative</h4>
            <p>{{ pc.initiative }}</p>
        </div>
        <div class="stat-box">
            <h4>Speed</h4>
            <p>{{ pc.speed }}</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="sheet-box">
        <h3>Health Stuff</h3>
        <p><strong>Hit Points</strong> : {{ pc.max_hit_points }} / {{ pc.max_hit_points }}</p>
        <p><strong>Temporary Hit Points</strong> : 0</p>
        <p><strong>Total Hit Dice</strong> : {{ pc.total_hit_dice_prettified }}</p>
        <p><strong>Death Saves</strong> : 0 Success / 0 Failures</p>
    </div>
    <div class="sheet-box">
        <h3>Attacks & Spellcasting</h3>

        <h4>Attacks</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Attack Bonus</th>
                <th>Damage</th>
            </tr>
            {% for weapon in pc.worn_items.weapons %}
            <tr>
                <td>{{ weapon.name }}</td>
                <td>{{ pmod(pc.calculate_weapon_bonuses()[weapon.name]['attack_bonus']) }}</td>
                <td>{{ pc.calculate_weapon_bonuses()[weapon.name]['damage'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <h4>Spellcasting</h4>
        {% for spell_type in pc.spellcasting.spell_slots.keys() %}
        <h5>{{ spell_type }} ({{ pc.spellcasting.spell_slots[spell_type] }} spell slots)</h5>
        {% for spell in pc.spellcasting.list_spells_known %}
        {% if spell.level == spell_type %}
        <p>{{ spell.name }}</p>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <div class="sheet-box">
        <h3>Equipment</h3>
        <p>Carrying capacity: {{ pc.carrying_weight }} / {{ pc.carrying_capacity }}</p>
        {% if pc.worn_items.armor %}
        <p>{{ pc.worn_items.armor.name }} (equipped, armor)</p>
        {% endif %}
        {% for weapon in pc.worn_items.weapons %}
        <p>{{ weapon.name }} (equipped, weapon)</p>
        {% endfor %}
        {% for item in pc.backpack.items %}
        {% if item.quantity > 1 %}
        <p>{{ item.name }} ({{ item.quantity }})</p>
        {% else %}
        <p>{{ item.name }}</p>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="column">
    <div class="sheet-box">
        <h3>Proficiencies</h3>
        {% for p in pc.proficiencies %}
        <p><strong>{{ p }}</strong>: {{ ', '.join(pc.proficiencies[p]) }}</p>
        {% endfor %}
        <p><strong>Languages</strong>: {{ ', '.join(pc.languages) }}</p>
    </div>
    <div class="sheet-box">
        <h3>Traits & Features</h3>
        {% for fk in pc.features %}
            <h3>{{ fk }}</h3>
            {% for f in pc.features[fk] %}
                <h4>{{ pc.features[fk][f]['name'] }}</h4>
                <p>{{ pc.features[fk][f]['description'] }}</p>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
