{% extends "base.html" %}

{% macro spell_popover(spell, popover_dir) -%}
    <div class="popover popover-{{ popover_dir }}">
        <p class="chip">{{ spell.name }}</p>
        <div class="popover-container">
            <div class="card">
                <div class="card-header"><h5>{{ spell.name }}</h5></div>
                <div class="card-body">
                    <p>{{ spell.level }}-level {{ spell.magic_school }}</p>
                    <p><strong>Casting time</strong>: {{ spell.casting_time }}</p>
                    <p><strong>Range</strong>: {{ spell.spell_range }}</p>
                    <p><strong>Components</strong>: {{ ', '.join(spell.components) }}</p>
                    <p><strong>Duration</strong>: {{ spell.duration }}</p>
                    <p>{{ spell.description }}</p>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro skill_prof(name, icon, modifier, is_proficient, expertise=False) -%}
    <tr>
        <td>
            <i class="material-icons">{{ icon }}</i>
            <strong>{{ name }}</strong>
        </td>
        <td>{{ pmod(modifier) }}</td>
        <td>
            {% if expertise %}
            <i class="material-icons">star_border</i>
            {% elif is_proficient %}
            <i class="material-icons">check_box</i>
            {% else %}
            <i class="material-icons">check_box_outline_blank</i>
            {% endif %}
        </td>
    </tr>
{%- endmacro %}

{% set ability_to_icon = {
'STR': 'fitness_center',
'DEX': 'timer',
'CON': 'local_hospital',
'INT': 'school',
'WIS': 'nature',
'CHA': 'mood',
} %}

{% block content %}

<div id="banner" class="columns">
    <div class="column col-3">
        <h2>{{ pc.name }}</h2>
        <p><strong>Class & Level</strong>: {{ pc.vocation_name }} {{ pc.level }}</p>
        <p><strong>Background</strong>: {{ pc.background_name }}</p>
        <p><strong>Race</strong>: {{ pc.base_race_name }} ({{ pc.race_name }})</p>
    </div>

    <div class="column col-3">
        <div class="sheet-box">
            <h3>Basic Combat Stuff <i class="material-icons">disc_full</i></h3>
            <dl>
                <dt><i class="material-icons">verified_user</i> Armor Class</dt>
                <dd>{{ pc.armor_class }} ({{ pc.worn_items.armor.name if pc.worn_items.armor else 'dodgy stuff' }})</dd>
                <dt><i class="material-icons">flash_on</i> Initiative</dt>
                <dd>{{ pmod(pc.initiative) }}</dd>
                <dt><i class="material-icons">directions_run</i> Speed</dt>
                <dd>{{ pc.speed }} ft</dd>
            </dl>
        </div>
    </div>

    <div class="column col-6">
        <div class="sheet-box">
            <h3>Ability Scores <i class="material-icons">casino</i></h3>
            <p><strong>Proficiency Bonus</strong>: {{ pmod(pc.proficiency_bonus) }}</p>
            <table class="table">
                <tbody>
                    <tr>
                        {% for ability in pc.ability_scores.keys() %}
                        <td>
                            <div class="popover popover-bottom">
                                <p><strong>{{ ability }}</strong></p>
                                <p>{{ pc.ability_scores[ability]['score'] }}</p>

                                <div class="popover-container">
                                    <div class="card">
                                        <div class="card-body">
                                            <table>
                                                <tbody>
                                                    {% set modifier = pc.saving_throws[ability]['modifier'] %}
                                                    {% set is_proficient = pc.saving_throws[ability]['is_proficient'] %}
                                                    {{ skill_prof('Saving throw', 'warning', modifier, is_proficient) }}

                                                    {% for skill in pc.skills_by_ability[ability] %}
                                                    {% set modifier = pc.skills_by_ability[ability][skill]['modifier'] %}
                                                    {% set is_proficient = pc.skills_by_ability[ability][skill]['is_proficient'] %}
                                                    {% set expertise = pc.skills_by_ability[ability][skill]['expertise'] %}
                                                        {{ skill_prof(skill, ability_to_icon[ability], modifier, is_proficient, expertise) }}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column col-4">

        <div class="sheet-box">
            <h3>Health Stuff <i class="material-icons">local_pharmacy</i></h3>
            <h4>Hit Points</h4>
            <dl>
                <dt><i class="material-icons">local_hospital</i> Hit Points</dt>
                <dd>{{ pc.max_hit_points }} / {{ pc.max_hit_points }}</dd>
                <dt><i class="material-icons">healing</i> Temporary Hit Points</dt>
                <dd>0</dd>
                <dt><i class="material-icons">local_pharmacy</i> Total Hit Dice</dt>
                <dd>{{ pc.total_hit_dice_prettified }}</dd>
            </dl>

            <h4>Death Saves</h4>
            <p>Success {% for i in range(0,3) %}<i class="material-icons">mood</i>{% endfor %}</p>
            <p>Failure {% for i in range(0,3) %}<i class="material-icons">mood_bad</i>{% endfor %}</p>
        </div>

    </div>

    <div class="column col-8">
        <div class="sheet-box">
            <h3>Attacks & Spellcasting <i class="material-icons">pan_tool</i></h3>

            <h4>Attacks</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Attack Bonus</th>
                        <th>Damage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for weapon in pc.worn_items.weapons %}
                    <tr>
                        <td>{{ weapon.name }}</td>
                        {% set weapon_details = pc.calculate_weapon_bonuses()[weapon.name] %}
                        <td>{{ pmod(weapon_details['attack_bonus']) }} ({{ weapon_details['attack_type'] }})</td>
                        <td>{{ weapon_details['damage'] }}</td>
                    </tr>
                    {% endfor %}

                    {% if pc.spellcasting and pc.cantrips %}
                    {% for cantrip in pc.calculate_damage_cantrips() %}
                    <tr>
                        <td>
                            {% set c = pc.calculate_damage_cantrips()[cantrip]['cantrip'] %}
                            {{ spell_popover(c, 'right') }}
                        </td>
                        <td>{{ pc.calculate_damage_cantrips()[cantrip]['attack_bonus'] }}</td>
                        <td>{{ pc.calculate_damage_cantrips()[cantrip]['damage'] }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            {% if pc.spellcasting %}
                <h4>Spellcasting</h4>

                <div class="columns">
                    <div class="column col-4">
                        <dl>
                            <dt>Spellcasting Ability</dt>
                            <dd>{{ pc.spellcasting.spellcasting_ability }}</dd>
                            <dt>Spell Save DC</dt>
                            <dd>{{ pc.spell_save_dc }}</dd>
                            <dt>Spell Attack Bonus</dt>
                            <dd>{{ pc.spell_attack_bonus }}</dd>
                        </dl>
                    </div>

                    <div class="column col-8">
                        {% if pc.spellcasting and pc.cantrips %}
                        <h5>Cantrips</h5>
                        {% for cantrip in pc.cantrips %}
                            {{ spell_popover(cantrip, 'left') }}
                        {% endfor %}
                        {% endif %}

                        {% for spell_type in pc.casting_spells.keys() %}
                        <h5>
                            {{ spell_type }}
                            {% for i in range(0, pc.spellcasting.spell_slots[spell_type]) %}
                            <i class="material-icons">all_out</i>
                            {% endfor %}
                        </h5>
                        {% for spell in pc.casting_spells[spell_type] %}
                            {{ spell_popover(spell, 'left') }}
                        {% endfor %}

                        {% endfor %}
                    </div>

                </div>
            {% endif %}
        </div>
    </div>

</div>

<div class="columns">
    <div class="column col-4">
        <div class="sheet-box">
            <h3>Proficiencies <i class="material-icons">color_lens</i></h3>
            {% for prof in pc.proficiencies %}
                <div>
                    <h4>{{ prof }}</h4>
                    {% for p in pc.proficiencies[prof] %}
                    <span class="chip">{{ p }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="column col-8">
        <div class="sheet-box">
            <h3>Traits & Features <i class="material-icons">style</i></h3>
            <div class="columns">
            {% for subfeature in pc.features %}
                <div class="column col-4">
                    <h4>{{ subfeature }}</h4>
                    {% for feature in pc.features[subfeature] %}
                    <details class="accordion">
                        <summary class="accordion-header">
                            <i class="icon icon-arrow-right mr-1"></i>
                            {{ feature.name }}
                        </summary>

                        <div class="accordion-body">
                            <p>{{ feature.description }}</p>
                        </div>

                    </details>
                    {% endfor %}
                </div>
            {% endfor %}

            </div>

        </div>
    </div>
</div>

<div class="columns">
    <div class="column col-12">
        <div class="sheet-box">
            <div class="columns">
                <div class="column col-2">
                    <h3>Equipment <i class="material-icons">business_center</i></h3>
                    <p><strong>Carrying Capacity</strong> : {{ pc.carrying_weight }} / {{ pc.carrying_capacity }}</p>
                </div>
                <div class="column col-4">
                    <div class="sheet-box">
                        <h4>Equipped Items</h4>
                        {% if pc.worn_items.armor %}
                            <div class="chip">{{ pc.worn_items.armor.name }} (armor)</div>
                        {% endif %}
                        {% for weapon in pc.worn_items.weapons %}
                            <div class="chip">{{ weapon.name }} (weapon)</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="column col-6">
                    <div class="sheet-box">
                        <h4>Backpack</h4>
                        {% for item in pc.backpack.items %}
                            {% if item.quantity > 1 %}
                                <div class="chip">{{ item.name }} ({{ item.quantity }})</div>
                            {% else %}
                                <div class="chip">{{ item.name }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
