{% extends "base.html" %}

{% block content %}
<h1>Roll for initiative!</h1>
<h2>Round {{ init_tracker.round }}</h2>
<div class="columns">
    <div class="column col-4">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Initiative</th>
                <th>Hit Points</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in init_tracker.get_intiative_order() %}
            <tr class="active {{ 'bg-primary' if entity == init_tracker.get_current_entity() else 'bg-light' }}">
                <td>
                    <figure class="avatar avatar-xl" data-initial="{{ entity.avatar_initials }}" style="background-color: {{ entity.avatar_color }};"></figure>
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.initiative }}</td>
                <td>???</td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column col-4">
        <a href="{{ url_for('initiative_tracker_next_turn') }}">Next!!!</a>
    </div>
</div>
{% endblock %}