
body {
   color: #000;
   font-family: Cambria Math !important;
   background-color: #6d5f40;
}

#header {
    display: block;
    text-align: center;
    top: 0;
}

#container {
    display: block;
    background-color: #EEEEEE;
    padding: 5px;
}

#banner {
    background-color: #DDDDDD;
    padding: 5px;
}

.column {
    display: inline-block;
    vertical-align: top;
    background-color: #DDDDDD;
    padding: 5px;
    width: 20%;
    line-height: 100%;
}

.sheet-box {
    margin: 5px;
    padding: 10px;

    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    border-radius: 5px;
}

.ability-score {
    text-align: center;

    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 5px;
}

.stat-box {
    text-align: center;
    display: in-line;
    float: left;
    margin: 5px;
    padding: 10px;

    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 5px;
}

.clear {
  clear:both;
}

#footer {
    display: block;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
}
