
:root {
    --d5-color-black: #000022;

    --d5-color-red: #F06543;
    --d5-color-white: #E8E9EB;
    --d5-color-gray: #E0DFD5;
    --d5-color-orange: #F09D51;
    --d5-color-black: #313638;

    --d5-color-bg: var(--d5-color-red);

    --d5-color-border-banner: var(--d5-color-orange);
    --d5-color-border-column: var(--d5-color-orange);

    --d5-color-box: var(--d5-color-gray);
    --d5-color-border-box: var(--d5-color-black);

    --d5-color-stat-box: var(--d5-color-white);
    --d5-color-border-stat-box: var(--d5-color-black);
}

body {
   color: var(--d5-color-black);
   font-family: Cambria Math !important;
   background-color: var(--d5-color-bg);
}

#header {
    display: block;
    text-align: center;
    top: 0;
}

#banner {
    background-color: var(--d5-color-box);
    padding: 10px;

    border-style: solid;
    border-width: 5px;
    border-color: var(--d5-color-border-banner);
    border-radius: 5px;
}

.column {
    display: inline-block;
    vertical-align: top;
    background-color: var(--d5-color-box);
    padding: 5px;
    width: 20%;
    line-height: 100%;

    border-style: solid;
    border-width: 5px;
    border-color: var(--d5-color-border-column);
    border-radius: 5px;
}

.sheet-box {
    margin: 5px;
    padding: 10px;

    border-style: solid;
    border-width: 5px;
    border-color: var(--d5-color-border-box);
    border-radius: 5px;
}

.ability-score {
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: var(--d5-color-stat-box);

    border-style: solid;
    border-width: 3px;
    border-color: var(--d5-color-border-stat-box);
    border-radius: 5px;
}

.stat-box {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: var(--d5-color-stat-box);

    border-style: solid;
    border-width: 3px;
    border-color: var(--d5-color-border-stat-box);
    border-radius: 5px;
}

#footer {
    display: block;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
}
